@{
    ViewData["Title"] = "Forgot password confirmation";
    ViewData["BodyCss"] = "login";
}

<div class="login_wrapper">
    <section class="login_content">
        <div class="x_panel">
            <h4>@ViewData["Title"]</h4>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </section>
</div>
