@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    ViewData["BodyCss"] = "login";
}

<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <div class="x_panel">
                <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                    <div>
                        <label for="email">To reset your password, enter your email address</label>
                        <input id="email" type="email" asp-for="Email" class="form-control" placeholder="Email" required="" />
                    </div>
                    <div>
                        <button class="btn btn-travnow btn-block" type="submit" value="Continue">Continue</button>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                </form>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
