@{
    ViewData["Title"] = "Reset password confirmation";
    ViewData["BodyCss"] = "login";
}

<div class="login_wrapper">
    <section class="login_content">
        <div class="x_panel">
            <h4>@ViewData["Title"]</h4>
            <p>
                Your password has been reset. Please <a href="/">click here to log in</a>.
            </p>
        </div>
    </section>
</div>
