<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h3 class="modal-title" id="myModalLabel2"><span class="fa fa-user-plus left pull-right"></span>Add New @ViewData["ListType"]</h3>
</div>
<div class="modal-body">
    <div class="" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#tab1" id="profile-tab" role="tab" data-toggle="tab" aria-expanded="true">Profile</a>
            </li>
            @if (ViewData["ListType"].ToString() == "Broker")
        {
            <li role="presentation" class="">
                <a href="#tab2" role="tab" id="commission-tab" data-toggle="tab" aria-expanded="false">Commission</a>
            </li>
    }
        </ul>
        <form id="addUserForm" class="form-horizontal form-label-left input_mask">
            <div id="myTabContent" class="tab-content">

                <div role="tabpanel" class="tab-pane fade active in" id="tab1" aria-labelledby="profile-tab">
                    <!-- Tab 1 Content -->

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" name="company_name" id="company_name" placeholder="Company Name">
                        <span class="fa fa-building form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" name="ein" id="ein" placeholder="EIN/FEIN">
                        <span class="fa fa-info-circle form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" name="first_name" id="first_name" placeholder="First Name">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" name="last_name" id="last_name" placeholder="Last Name">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" name="address" id="address" placeholder="Office Address">
                        <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" name="city" id="city" placeholder="City">
                        <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                        <select id="state" name="state" class="form-control">
                            <option value="AL">AL</option>
                            <option value="AK">AK</option>
                            <option value="AR">AR</option>
                            <option value="AZ">AZ</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DC">DC</option>
                            <option value="DE">DE</option>
                            <option value="FL">FL</option>
                            <option value="GA">GA</option>
                            <option value="HI">HI</option>
                            <option value="IA">IA</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="MA">MA</option>
                            <option value="MD">MD</option>
                            <option value="ME">ME</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MO">MO</option>
                            <option value="MS">MS</option>
                            <option value="MT">MT</option>
                            <option value="NC">NC</option>
                            <option value="NE">NE</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NV">NV</option>
                            <option value="NY">NY</option>
                            <option value="ND">ND</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VT">VT</option>
                            <option value="VA">VA</option>
                            <option value="WA">WA</option>
                            <option value="WI">WI</option>
                            <option value="WV">WV</option>
                            <option value="WY">WY</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="number" class="form-control has-feedback-left" name="postal_code" id="postal_code" placeholder="Postal Code">
                        <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
                        <select id="country" name="country" class="form-control">
                            <option value="USA">USA</option>
                            <option value="CAN">CAN</option>
                        </select>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                        <input type="email" class="form-control has-feedback-left" name="email" id="email" placeholder="Email">
                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="tel" class="form-control has-feedback-left" name="mobile_phone" id="mobile_phone" placeholder="Mobile Phone" data-inputmask="'mask' : '999-999-9999'">
                        <span class="fa fa-mobile-phone form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="tel" class="form-control has-feedback-left" name="work_phone" id="work_phone" placeholder="Office Phone" data-inputmask="'mask' : '999-999-9999'">
                        <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="tel" class="form-control has-feedback-left" name="fax" id="fax" placeholder="Office Fax" data-inputmask="'mask' : '999-999-9999'">
                        <span class="fa fa-fax form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    @if (ViewData["ListType"].ToString() == "Agent" || ViewData["ListType"].ToString() == "Client")
                    {
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 offset-lg-4 offset-md-4 offset-sm-6  form-group has-feedback">
                            <input type="number" class="form-control has-feedback-left" name="commission_rate" id="commission_rate" placeholder="Commission Rate">
                            <span class="fa fa-dollar form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    }
                    @if (ViewData["ListType"].ToString() != "Administrator" && ViewData["ListType"].ToString() != "Super Administrator")
                    {
                        <div class="form-group">
                            <br /><br />
                            <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Upload W9:</label><br />
                            <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 custom-file">
                                <input type="file" id="documentW9" name="documentW9" class="custom-file-input">
                                <span class="custom-file-control"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Upload Other Documents:</label><br />
                            <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 custom-file">
                                <input type="file" id="documentOther" name="documentOther" class="custom-file-input">
                                <span class="custom-file-control"></span>
                            </label>
                        </div>
                    }

                        <!-- End Tab 1 Content -->
                    </div>
                    @if (ViewData["ListType"].ToString() == "Broker")
    {
                <div role="tabpanel" class="tab-pane fade" id="tab2" aria-labelledby="commission-tab">
                    <!-- Tab 2 Content -->
                    <div class="form-group">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">Broker Commission Percentage</label>
                            <input id="broker_commission_percentage" name="broker_commission_percentage" type="number" class="form-control" placeholder="ex. 50.0" value="50.0">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">Agent Commission Percentage</label>
                            <input id="agent_commission_percentage" name="agent_commission_percentage" type="number" class="form-control" placeholder="ex. 12.5" value="12.5">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">Client Commission Percentage</label>
                            <input id="client_commission_percentage" name="client_commission_percentage" type="number" class="form-control" placeholder="ex. 3.0" value="3.0">
                        </div>
                        <br />
                    </div>
                    <hr>
                    <br />
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <h4>Card Purchasing Rates</h4>
                        </div>
                        <div class="form-horizontal form-label-left form-group">
                            <div class="form-group text-center">
                                <label class="bg-travnow col-lg-6 col-md-6 col-sm-6 col-xs-12">Physical Cards</label>
                                <label class="bg-travnow col-lg-6 col-md-6 col-sm-6 col-xs-12">% of Face Value</label>
                            </div>
                        </div>
                        <div class="form-horizontal form-label-left form-group">
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">1,000 Cards</label>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                    <input name="cards_1000" id="cards_1000" type="number" class="form-control" value="0.55">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal form-label-left form-group">
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">5,000 Cards</label>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                    <input name="cards_5000" id="cards_5000" type="number" class="form-control" value="0.50">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal form-label-left form-group">
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">10,000 Cards</label>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                    <input name="cards_10000" id="cards_10000" type="number" class="form-control" value="0.40">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal form-label-left form-group">
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">25,000 Cards</label>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                    <input name="cards_25000" id="cards_25000" type="number" class="form-control" value="0.35">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal form-label-left form-group">
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">50,000 Cards</label>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                    <input name="cards_50000" id="cards_50000" type="number" class="form-control" value="0.30">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal form-label-left form-group">
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">100,000+ Cards</label>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                    <input name="cards_100000" id="cards_100000" type="number" class="form-control" value="0.25">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group text-center">
                            <h4>Card Purchasing Cap</h4>
                        </div>
                        <div class="form-horizontal form-label-left form-group">
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">Virtual Card Cap:</label>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                    <input name="virtual_cap" id="virtual_cap" type="number" class="form-control form-group" value="250000">
                                    <span class="help-block">Any broker purchases above this cap will be subject to Admin approval before being granted. All purchases below the cap will be instant.</span>
                                </div>
                                <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">Timeframe:</label>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                    <input name="timeframe" id="timeframe" type="number" class="form-control form-group " placeholder="Enter number of days" value="7">
                                    <span class="help-block">How long (in days) before the Virtual Card Cap resets?</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Tab 2 Content -->
                </div>
}

                </div>
        </form>
    </div>
</div><div class="clearfix"></div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary"  id="addUserBTN">Add @ViewData["ListType"]</button>
</div>
<input type="hidden" id="userType" value="@ViewData["ListType"]" />

<script type="text/javascript">
    ADDUSER.init();
</script>
