@model ActivationLoadViewModel
<div class="col-md-12 col-sm-12 col-xs-12">
    <br />
    <form id="activation-form">
        <div class="x_panel no-print">
            <div class="x_title no-print">
                <h2>Activation Reports</h2>
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-print">
                <div class="x_panel">
                    <div class="">
                        <h4>Data Filters</h4>
                        <hr class="card-hr2">
                        <form class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                Select Report
                                <select id="select-report" class="form-control form-group">
                                    <option value="client" selected>By Client</option>
                                    <option value="agent">By Agent</option>
                                </select>
                            </div>
                            <div id="client" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                Select Client
                                <select id="select-client" name="client" asp-items="@Model.Clients" class="form-control form-group">
                                    <option value="0">All</option>
                                </select>
                            </div>
                            <div id="agent" class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="display: none">
                                Select Agent
                                <select id="select-agent" name="agent" asp-items="@Model.Agents" class="form-control form-group">
                                    <option value="0">All</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                Campaign Status
                                <select id="select-status" name="status" class="form-control form-group">
                                    <option>All</option>
                                    <option selected>Active</option>
                                    <option>Inactive</option>
                                </select>
                            </div><div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                Card Used?
                                <select id="select-used" name="used" class="form-control form-group">
                                    <option>All</option>
                                    <option value="Y" selected>Yes</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-print">
                <div class="x_panel">
                    <div class="">
                        <h4>Filter by Activation Date</h4>
                        <hr class="card-hr2">
                        <form class="form-group">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                Start Date
                                <div class="form-group">
                                    <div class='input-group date' id='myDatepicker2'>
                                        <input id="startDate" name="startDate" type="date" class="form-control" placeholder="MM/DD/YYYY" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                End Date
                                <div class="form-group">
                                    <div class='input-group date' id='myDatepicker3'>
                                        <input id="endDate" name="endDate" type="date" class="form-control" placeholder="MM/DD/YYYY" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="start-report" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center spacer-60">
            <span class="h1 text-extra-muted">Select Filters Above and Run Report</span><br /><br /><br />
            <button id="run-report" type="button" class="btn btn-travgreen">
                <i class="fa fa-bar-chart icon-white purchase-button-icon"></i>Run Report
            </button>
        </div>
        <div id="result" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spacer-10">
        </div>
    </form>
</div>

<script src="~/js/list.js"></script>
<script src="~/js/reports/activation.js"></script>
<script>
    ACTIVATION.init();
</script>
