@{
    ViewData["BodyCss"] = "nav-md menu_fixed";
}
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="admin-dashboard.html" class="site_title"> <span><img src="images/nav-logo-b-2x.png"></span></a>
                </div>

                <div class="clearfix"></div>

                <br />
                <br />

                <vc:menu></vc:menu>
            </div>
        </div>

        <vc:logged-in></vc:logged-in>
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row" id="main_panel">
                <vc:dashboard></vc:dashboard>
            </div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <footer>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <span class="">&copy; Copyright 2018 TravNow&trade;. All Rights Reserved.</span>
            </div>
            <div class="pull-right">
                <a href="#"><img src="images/travnow-icon.svg" class="footer-icon"> <span class="version-text">TravNow&trade; Admin Dashboard Pre-Alpha v.0.01</span></a>
            </div>
            <div class="clearfix"></div>
        </footer>
    </div>
</div>

