@using Microsoft.AspNetCore.Identity
@using ClientPortal.Models
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["BodyCss"] = "login";
}
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <div class="x_panel">
                    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <h1>Dashboard Login</h1>
                        <div>
                            <input asp-for="Email" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div>
                            <input asp-for="Password" class="form-control" placeholder="Password" required="" />
                        </div>

                        <div>
                            <button class="btn btn-travnow btn-block" type="submit" value="Login">Login</button>
                        </div>
                        <br />
                        <div class="clearfix"></div>

                        <div class="separator">
                            <a class="reset_pass" asp-action="ForgotPassword">Lost your password?</a>
                            <span class="change_link"></span>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><img src="images/travnow-gray-logo.png"></h1>
                                <p>
                                    &copy; Copyright 2017 TravNow&trade;. All Rights Reserved.
                                    <br /><a href="#">Privacy and Terms of Use</a><br /><br />
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
                <span class="disclaimer-text">TravNow&trade; Dashboard Pre-Alpha v.0.01</span>
            </section>
        </div>
    </div>
</div>
