@model Codes.Service.ViewModels.PurchaseDisplayViewModel
<div class="col-md-12 col-sm-12 col-xs-12">
    <br />
    <div class="x_panel">
        <div class="x_title">
            <h2>Purchase Confirmation</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <p>Thanks for your purchase.</p>
                <p>Order ID: @Model.OrderId</p>
            </div>
        </div>
    </div>
</div>
