@model LoggedInViewModel
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars gray-bars"></i></a>
            </div>
            <span class="h4 welcome-text">Welcome, @Model.FullName!</span>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="images/user-icon-flat.svg">@Model.ShortName
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a class="nav-item" href="#" data-page="my-account" data-id="@Model.Id" data-src="profile"> Profile</a></li>
                        <li><a href="javascript:;">Help</a></li>
                        <li>
                            <form method="post">
                                <button type="submit" asp-controller="Account" asp-action="Logout" class="btn btn-link">
                                    <i class="glyphicon glyphicon-off pull-right"></i> Log Out
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
