@model PageViewModel
<table id="agent_tbl" class="table-select table table-striped table-bordered jambo_table bulk_action">
    <thead>
        <tr>
            <th><input type="checkbox" id="check-all" /></th>
            <th>@Model.Role Name</th>
            <th>Company Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Commission Rate</th>
            <th>Clients</th>
            <th>Primary Agent</th>
            <th>Creation Date</th>
            <th>Deactivation Date</th>
            <th></th>
        </tr>
    </thead>
</table>
