@model PageViewModel
<table id="agent_tbl" class="table-select table table-striped table-bordered jambo_table bulk_action">
    <thead>
        <tr>
            <th class="">@Model.Role Name</th>
            <th class="">Company Name</th>
            <th class="">Email</th>
            <th class="">Phone Number</th>
            <th class="">Commission Rate</th>
            <th class="">Clients</th>
            <th class="">Activation Date</th>
            <th class="">Deactivation Date</th>
        </tr>
    </thead>
</table>