@model PageViewModel
<table id="campaign_tbl" class="table-select table table-striped table-bordered jambo_table bulk_action">
    <thead>
        <tr>
            <th class="">Campaign ID</th>
            <th class="">Campaign Name</th>
            <th class="">Card QTY</th>
            <th class="">Card Type</th>
            <th class="">Benefits</th>
            <th class="">Status</th>
            <th class="">Deactivated</th>
        </tr>
    </thead>
</table>