@model PageViewModel
<table id="purchase_tbl" class="table-select table table-striped table-bordered jambo_table bulk_action">
    <thead>
        <tr>
            <th class="">Purchase Date</th>
            <th class="">Order ID</th>
            <th class="">Card Type</th>
            <th class="">Denomination</th>
            <th class="">Quantity</th>
            <th class="">Sequence Start</th>
            <th class="">Sequence End</th>
            <th class="">Total</th>
            <th class="">Receipt</th>
        </tr>
    </thead>
</table>
