@model PageViewModel
<table id="purchase_tbl" class="table-select table table-striped table-bordered jambo_table bulk_action">
    <thead>
        <tr>
            <th>Purchase Date</th>
            <th>Order ID</th>
            <th>Physical Denomination</th>
            <th>Physical Quantity</th>
            <th>Virtual Denomination</th>
            <th>Virtual Quantity</th>
            <th>Sequence Start</th>
            <th>Sequence End</th>
            <th>Total</th>
            <th>Receipt</th>
        </tr>
    </thead>
</table>
